{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog is maintained by <strong>Chathura Devinda Gamage</strong>, 
            an undergraduate at the <strong>Sabaragamuwa University of Sri Lanka</strong>. 
            Follow along to discover insightful blogs and fresh perspectives!</p>
        <a href="#"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}