{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4" style="border: none; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.2);">
        <h5 class="card-header" style="background-color: var(--gold-dark); color: var(--text-light);">About Me</h5>
        <div class="card-body">
            <p>This awesome blog is maintained by <strong>Chathura Devinda Gamage</strong>, an undergraduate at <strong>Sabaragamuwa University of Sri Lanka</strong>. Follow along to discover insightful blogs and fresh perspectives!</p>
            <a href="#" class="btn btn-primary">Know More</a>
        </div>
    </div>
    
</div>

{% endblock sidebar %}